@import 'styles/includes';

.section-reel {
  margin-bottom: 4rem;

  .section-title {
    text-align: center;
  }

  .reel {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-padding: $holder-margin-sides;
    position: relative;
    height: 42rem;
    -ms-overflow-style: none; /* IE */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari & Chrome */
    }

    @include siteMaxOnly {
      scroll-padding: calc((100vw - #{$site-max-width}) / 2 - 1rem);
    }

    &-item {
      scroll-snap-align: start;
      margin-right: 2rem;
      max-height: 100vh;
      height: 100%;

      img {
        display: block;
        height: 100%;
        border: 1px solid #f6528c;
      }

      &:first-of-type {
        margin-left: $holder-margin-sides;
      }
      &:last-of-type {
        margin-right: 0;
        padding-right: $holder-margin-sides;
      }

      @include siteMaxOnly {
        &:first-of-type {
          margin-left: calc((100vw - #{$site-max-width}) / 2 - 1rem);
        }
        &:last-of-type {
          padding-right: calc((100vw - #{$site-max-width}) / 2 - 1rem);
        }
      }
    }
  }
}

.borders {
  &.section-reel {
    border: 1px solid #f6528c;
  }

  .section-title {
    border: 1px solid #f6528c;
  }
}
