@import 'styles/includes';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  // defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-size: 1.6rem; // resets default font-size to 16px (and scales what user defines in browser settings)
  line-height: 1;
  box-sizing: border-box;
  background: $grey-background;
}

// GUI パラメータの準備
.dg.ac {
  z-index: 9999 !important;
  //display: none !important;

  @include extraSmallOnly {
    display: none !important;
  }
}

a {
  text-decoration: none;
  color: $black;
}

.section-container {
  padding: 0 $holder-margin-sides;

  @include extraSmallOnly {
    padding: 0 $holder-margin-sides-xs;
  }

  @include smallOnly {
    padding: 0 $holder-margin-sides-sm;
  }

  @include mediumOnly {
    padding: 0 $holder-margin-sides-md;
  }

  @include largeOnly {
    padding: 0 $holder-margin-sides-lg;
  }

  @include extraLargeOnly {
    padding: 0 $holder-margin-sides-xl;
  }

  .section {
    max-width: $site-max-width;
    margin: 0 auto;
  }
}
