/* Example Fonts Setup */

@font-face {
  font-family: 'Coconat-Regular';
  src: url('./fonts/Coconat-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'LydianBT';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/LydianBT.ttf') format('truetype');
}

@font-face {
  font-family: 'LydianBT';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/LydianBT-Bold.ttf') format('truetype'),
  url('./fonts/LydianBT-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'LydianBT';
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/LydianBT-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'LydianBT';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/LydianBT-BoldItalic.ttf') format('truetype'),
  url('./fonts/LydianBT-BoldItalic.otf') format('opentype');
}
