/* Example Fonts Setup */

/*
@font-face {
  font-family: 'simple font with no bold or italics';
  src: url('./fonts/simple-regular.otf') format('opentype');
}
*/

/* For complex (fully featured) fonts, declare 1 font-family and do this setup for the bold and italics. */
/*
@font-face {
  font-family: 'complex font';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/complex-font.ttf') format('truetype');
}

@font-face {
  font-family: 'complex font';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/complex-font.ttf') format('truetype'), // mix and match availability of otf and ttf
  url('./fonts/complex-font.otf') format('opentype');
}

@font-face {
  font-family: 'complex font';
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/complex-font.ttf') format('truetype');
}

@font-face {
  font-family: 'complex font';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/complex-font.ttf') format('truetype'),
  url('./fonts/complex-font.otf') format('opentype');
}
*/
