/* Example Fonts Setup */

/*
@font-face {
  font-family: 'Chronicle Display Roman';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Chronicle-Display-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Larsseit-Regular.ttf') format('truetype'),
  url('./fonts/Larsseit-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Larsseit-Medium.ttf') format('truetype'),
  url('./fonts/Larsseit-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Larsseit-Bold.ttf') format('truetype'),
  url('./fonts/Larsseit-Bold.otf') format('opentype');
}
 */
