@mixin disable-callout() {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin reset-button() {
  @include disable-callout();

  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: inherit;
  margin: 0;
  padding: 0;
  display: block;
  text-align: inherit;
  overflow: hidden;

  &:not([disabled]) {
    cursor: pointer;
  }
}

@mixin reset-input {
  background: none transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: inherit;
  margin: 0;
  //outline: none;
  -webkit-appearance: none;
  width: 100%;
}


/* Media Queries */

@mixin extraSmallOnly() {
  @media only screen and (max-width: $bp-small - 1) {
    @content;
  }
}

@mixin smallOnly() {
  @media only screen and (min-width: $bp-small) and (max-width: $bp-medium - 1) {
    @content;
  }
}

@mixin mediumOnly() {
  @media only screen and (min-width: $bp-medium) and (max-width: $bp-large - 1) {
    @content;
  }
}

@mixin largeOnly() {
  @media only screen and (min-width: $bp-large) and (max-width: $bp-extra-large - 1) {
    @content;
  }
}

@mixin extraLargeOnly() {
  @media only screen and (min-width: $bp-extra-large) {
    @content;
  }
}


/* Non-size-based media queries */

@mixin lightMode() {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin darkMode() {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin prefersReducedMotion() {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}
