/* COLORS */
$grey-background: #F1F1F1;
$black: #151515;

/* FONT FAMILY */
// in real life, will probably use values from fonts.scss here
$font-sans-serif: 'LydianBT', Helvetica Neue, sans-serif;
$font-serif: 'Coconat-Regular', Georgia, Times, "Times New Roman", serif;

/* FONT WEIGHT  */
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

/* BREAKPOINTS */
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-extra-large: 1200px;

$site-max-width: 1440px;

/* GRID SYSTEM */
$grid-columns-xl: 12;
$grid-columns-lg: 12;
$grid-columns-md: 8;
$grid-columns-sm: 8;
$grid-columns-xs: 10;

$grid-gap-xl: 4rem;
$grid-gap-lg: 2rem;
$grid-gap-md: 1rem;
$grid-gap-sm: .5rem;
$grid-gap-xs: .5rem;

/* Z-INDEX */
$z-index-negative-1: -1;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-6: 60;

/* UI */
$holder-margin-top: 2rem;
//$holder-margin-top: 0.01rem; // 0 margin-top breaks iOS canvas at the moment
$holder-margin-sides: 4rem;
$holder-margin-bottom: 4rem;

$menu-height: 4rem;
$footer-height: 6rem;

/* stylelint-disable */
:export {
  /* COLORS */
  black: $black;

  /* GRID SYSTEM */
  colsXl: $grid-columns-xl;
  colsLg: $grid-columns-lg;
  colsMd: $grid-columns-md;
  colsSm: $grid-columns-sm;
  colsXs: $grid-columns-xs;

  siteMaxWidth: $site-max-width;

  /* UI */
  holderMarginTop: $holder-margin-top;
  menuHeight: $menu-height;
}
/* stylelint-enable */
