.gui {
  position: fixed;
  top: 0;
  left: 75vw;
}

.inlet-target {
  display: flex;
  justify-content: center;
}

.container {
  border: 1px solid brown;
  position: relative;
}

.target {
  border: 1px solid skyblue;
  position: absolute;
  left: 0;
  top: 0;
}