.inlet-target {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.container {
  box-sizing: border-box;
  border: 1px solid brown;
  position: relative;
}

.target {
  border: 8px solid skyblue;
  background: white;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  z-index: 2;
}

.canvas {
  border: 1px solid teal;
}

.transitionTarget {
  border: 10px solid peachpuff;
  text-align: center;

  h2 {
    margin: 0;
    padding: 0;
  }
}
