@import 'styles/includes';

.index-page {
  overflow: hidden;

  .logo-container {
    //margin-top: #{$menu-height + $holder-margin-top};
    will-change: height;
    transition: height, 200ms;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100 - 20rem);

    .moon,
    .logo {
      padding: 2rem 0;
    }
  }
}

.mobile-safari {
  .logo-container {
    transition: none;
  }
}

.page-borders {
  .logo-container {
    border: 1px solid red;
  }
}
