@import 'styles/includes';

.index-page {
  .logo-container {
    margin-top: -#{$header-height + $holder-margin-top};
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    .moon,
    .logo {
      padding: #{$header-height + $holder-margin-top * 2} 0 2rem;
    }
  }
}

.page-borders {
  .logo-container {
    border: 1px solid red;
  }
   .content-container {
     border: 1px solid rebeccapurple;
   }
}
