@import 'styles/includes';

.grid-helper,
.row-helper,
.row-container,
.col-helper,
.col-content-helper {
  height: 100%;
}

.grid-helper {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - #{$holder-margin-sides * 2});
  margin: 0 $holder-margin-sides;
  pointer-events: none;
  background: #FFDAB933;
}

.row-container {
  max-width: $site-max-width;
  margin: 0 auto;
}

.col-content-helper {
  background: #ff000044;
}

.xl-helper {
  display: none;
  @include extraLargeOnly {
    display: flex;
  }
}

.lg-helper {
  display: none;
  @include largeOnly {
    display: flex;
  }
}

.md-helper {
  display: none;
  @include mediumOnly {
    display: flex;
  }
}

.sm-helper {
  display: none;
  @include smallOnly {
    display: flex;
  }
}

.xs-helper {
  display: none;
  @include extraSmallOnly {
    display: flex;
  }
}
