@import 'styles/includes';

.grid-helper,
.row-helper,
.row-container,
.col-helper,
.col-content-helper {
  height: 100%;
}

.grid-helper {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #FFDAB911;

  @include extraSmallOnly {
    width: calc(100% - #{$holder-margin-sides-xs * 2});
    margin: 0 $holder-margin-sides-xs;
  }

  @include smallOnly {
    width: calc(100% - #{$holder-margin-sides-sm * 2});
    margin: 0 $holder-margin-sides-sm;
  }

  @include mediumOnly {
    width: calc(100% - #{$holder-margin-sides-md * 2});
    margin: 0 $holder-margin-sides-md;
  }

  @include largeOnly {
    width: calc(100% - #{$holder-margin-sides-lg * 2});
    margin: 0 $holder-margin-sides-lg;
  }

  @include extraLargeOnly {
    width: calc(100% - #{$holder-margin-sides-xl * 2});
    margin: 0 $holder-margin-sides-xl;
  }
}

.row-container {
  max-width: $site-max-width;
  margin: 0 auto;
}

.col-content-helper {
  background: #ff000011;
}

.xl-helper {
  display: none;
  @include extraLargeOnly {
    display: flex;
  }
}

.lg-helper {
  display: none;
  @include largeOnly {
    display: flex;
  }
}

.md-helper {
  display: none;
  @include mediumOnly {
    display: flex;
  }
}

.sm-helper {
  display: none;
  @include smallOnly {
    display: flex;
  }
}

.xs-helper {
  display: none;
  @include extraSmallOnly {
    display: flex;
  }
}
