@import 'styles/includes';

.holder {
  color: $black;
  background: $grey-background;
  font-family: $font-serif;
  font-size: 1.8rem;
  line-height: 1.444;
  margin: $holder-margin-top 0 $holder-margin-bottom;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;

  p {
    margin-bottom: 1.45rem;
  }

  strong,
  b {
    font-weight: $font-bold;
  }
}

.header-container {
  z-index: $z-index-1;
  height: $header-height;
  background-color: inherit;
}

.page-container {
  position: relative;
  margin: 0;
  will-change: min-height;
  transition: min-height 750ms;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;


  .page-container__transition-group {
    margin: auto 0;

    .page-container__node {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.footer {
  display: flex;
  align-items: flex-end;
  height: $footer-height;
  padding: 0 $holder-margin-sides;
}

.borders {
  .page-container {
    border: 1px solid green;
  }
}
