@import 'styles/includes';

.main {
  color: $black;
  background: transparent;
  font-family: $font-serif;
  font-size: 1.8rem;
  line-height: 1.444;
  margin: $holder-margin-top 0 $holder-margin-bottom;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;

  p {
    margin-bottom: 1.45rem;
  }

  strong,
  b {
    font-weight: $font-bold;
  }
}

.header-container {
  z-index: $z-index-1;
  height: $header-height;
  background-color: inherit;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
  width: 100% !important;
  height: 100vh !important;
}

.footer {
  display: flex;
  align-items: flex-end;
  height: $footer-height;
  padding: 0 $holder-margin-sides;
}

.borders {
  .page-container {
    border: 1px solid green;
  }
}
