@import 'styles/includes';

.main {
  color: $black;
  background: transparent;
  //background: $grey-background;
  font-family: $font-serif;
  font-size: 1.8rem;
  line-height: 1.444;
  //padding: $holder-margin-top 0 $holder-margin-bottom;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;

  p {
    margin-bottom: 1.45rem;
  }

  strong,
  b {
    font-weight: $font-bold;
  }
}

.menu-container {
  position: fixed;
  z-index: $z-index-1;
  top: 0;
  left: 0;
  transition: top 200ms;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
  width: 100% !important;
  height: 100vh !important;
  height: calc(100vh + var(--vhThreshold)) !important;
  margin-top: calc(-1 * var(--vhThreshold));
}

.footer {
  display: flex;
  align-items: flex-end;
  height: $footer-height + $holder-margin-bottom;
  padding: 0 $holder-margin-sides $holder-margin-bottom;
}

.heroTarget {
  border-radius: 1000px;
}



.hideMain {
  .canvas {
    z-index: 0;
  }
}



.borders {
  border: 1px solid green;

  .halfPageHelper {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: block;
    height: 1px;
    content: '';
    background-color: orangered;
  }

  .canvas {
    border: 1px solid purple;
  }

  .header-container{
    border: 1px solid green;
  }
  .footer{
    border: 1px solid green;
  }
}

